[Unit]
Description=Garage door Raspberry Pi controller.
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/garage-door-controller
ExecStart=/usr/bin/python /home/pi/garage-door-controller/controller.py
Restart=on-abort

[Install]
WantedBy=multi-user.target